* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: red;
}

#hero-section {
  color: blue;
}

#our_story-section {
color: darkred;
}

#watch-section {
color: fuchsia;
}

#expertise-section {
color: yellowgreen;
}

#team-section {
color: lightsalmon;
}

#contact_client-section {
  color: blueviolet;
}

.video-player {
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
}